.o_geo_picker__map {
  height: 420px;
  width: 100%;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
}
.o_geo_picker__toolbar {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
}
