.o_geo_picker_toolbar{
  display:flex;
  align-items:center;
  gap:.5rem;
  margin-bottom:.5rem;
  flex-wrap:wrap;
}
.o_geo_picker_map {
  height: 320px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid #ddd;
}
