.o_geo_picker__map {
  width: 100%;
  height: 360px;     /* <-- sin esto verás “blanco” */
  min-height: 280px; /* útil en notebooks */
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
}

/* Para que Leaflet ocupe todo el contenedor */
.o_geo_picker__map .leaflet-container {
  width: 100%;
  height: 100%;
}

/* Toolbar */
.o_geo_picker__toolbar {
  flex-wrap: wrap;
}
